In [1]:
import pandas as pd
import cobra

from micom import Community
from micom.workflows import build, grow, tradeoff, fix_medium,build_database
from micom import load_pickle
from micom.viz import plot_tradeoff, plot_exchanges_per_sample, plot_growth

In [2]:
Tax= pd.DataFrame(columns=['id','genus','species','reactions','metabolites','sample_id','abundance'])
Tax

Empty DataFrame
Columns: [id, genus, species, reactions, metabolites, sample_id, abundance]
Index: []

In [3]:
Tax.loc[len(Tax.index)] = ['Rhodosporidium', 'Rhodosporidium', 'R. toruloides',2398,2051,'One',500]
Tax.loc[len(Tax.index)] = ['Synechococcus', 'Synechococcus','S. elongatus',851,769,'One',500]
Tax.loc[len(Tax.index)] = ['Azotobacter','Azotobacter','A. vinelandii',2469,2003,'One',500]
Tax

,id,genus,species,reactions,metabolites,sample_id,abundance
0,Rhodosporidium,Rhodosporidium,R. toruloides,2398,2051,One,500
1,Synechococcus,Synechococcus,S. elongatus,851,769,One,500
2,Azotobacter,Azotobacter,A. vinelandii,2469,2003,One,500

## Build Database File

If necessary, construct a database file from csv

In [4]:
db = pd.read_csv('./man_tertiary.csv')
db

,file,kingdom,phylum,class,order,family,genus,species
0,./iJB785_w_sucrose_transport.xml,bacteria,Cyanobacteria,Cyanophyceae,Synechococcales,Synechococcaceae,Synechococcus,S. elongatus
1,./azo_vine.xml,bacteria,Pseudomonadota,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Azotobacter,A. vinelandii
2,./Rt_IFO0880.xml,fungi,a,Ustilaginomycetes,b,c,Rhodosporidium,R. toruloides3

In [5]:
build_database(db,'./db_tertiary')

/Users/mcna892/opt/anaconda3/envs/micom/lib/python3.9/site-packages/rich/live.py:231: UserWarning: install
"ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Set parameter TokenServer to value "leghorn.emsl.pnl.gov"

[11:50:02] WARNING  The following sinks or demands were forced in the model and have been relaxed since  ]8;id=373195;file:///Users/mcna892/opt/anaconda3/envs/micom/lib/python3.9/site-packages/micom/util.py\util.py]8;;\:]8;id=163732;file:///Users/mcna892/opt/anaconda3/envs/micom/lib/python3.9/site-packages/micom/util.py#64\64]8;;\
                    they would interfere with MICOM's growth rate estimation: EX_sucr_e

,file,kingdom,phylum,class,order,family,genus,species,id,summary_rank
genus,,,,,,,,,,
Azotobacter,Azotobacter.json,bacteria,Pseudomonadota,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Azotobacter,A. vinelandii,Azotobacter,genus
Rhodosporidium,Rhodosporidium.json,fungi,a,Ustilaginomycetes,b,c,Rhodosporidium,R. toruloides3,Rhodosporidium,genus
Synechococcus,Synechococcus.json,bacteria,Cyanobacteria,Cyanophyceae,Synechococcales,Synechococcaceae,Synechococcus,S. elongatus,Synechococcus,genus

In [6]:
db_path = './db_tertiary/'

## Construct Community Model

In [7]:
# Build Manifest object from Taxonomy DataFrame and the corresponding database directory

# Skip this step if manifest has already been built and saved to "models" directory

'''
Important: Declare the Solver you would like to use for this Community model here:
    - osqp (good for smaller models)
    - gurobi
    - glpk
    - cplex
    - scipy
'''

manifest = build(Tax, out_folder="models_tertiary", model_db=db_path, cutoff=0.0001, threads=10,solver='gurobi')
manifest

[11:50:45] WARNING  Found existing models for 1 samples. Will skip those. Delete the output folder if   ]8;id=740064;file:///Users/mcna892/opt/anaconda3/envs/micom/lib/python3.9/site-packages/micom/workflows/build.py\build.py]8;;\:]8;id=468799;file:///Users/mcna892/opt/anaconda3/envs/micom/lib/python3.9/site-packages/micom/workflows/build.py#95\95]8;;\
                    you would like me to rebuild them.

Set parameter TokenServer to value "leghorn.emsl.pnl.gov"
Read LP format model from file /var/folders/1f/ksln774x1hd1pzfgsjgpxt7r0000gn/T/tmpoebt_6ql.lp
Reading time = 0.03 seconds
: 5290 rows, 12365 columns, 49127 nonzeros

,sample_id,abundance,file,found_taxa,total_taxa,found_fraction,found_abundance_fraction
0,One,500,One.pickle,3.0,3.0,1.0,1.0

In [8]:
# Load Model pickle file for the community object

com = load_pickle("models_tertiary/One.pickle")
print(len(com.reactions))

Read LP format model from file /var/folders/1f/ksln774x1hd1pzfgsjgpxt7r0000gn/T/tmp6a_aeb74.lp
Reading time = 0.03 seconds
: 5290 rows, 12365 columns, 49127 nonzeros
6182

In [9]:
com.medium

{'EX_co2_m': 1.99,
 'EX_h_m': 999999.0,
 'EX_h2o_m': 999999.0,
 'EX_nh4_m': 999999.0,
 'EX_o2_m': 999999.0,
 'EX_pi_m': 999999.0,
 'EX_so4_m': 999999.0,
 'EX_glc__D_m': 5.0,
 'EX_ca2_m': 999999.0,
 'EX_cl_m': 999999.0,
 'EX_fe2_m': 999999.0,
 'EX_fe3_m': 999999.0,
 'EX_hco3_m': 1.99,
 'EX_k_m': 999999.0,
 'EX_leu__L_m': 1000.0,
 'EX_na1_m': 999999.0,
 'EX_no3_m': 1.76,
 'EX_mg2_m': 999999.0,
 'EX_mn2_m': 999999.0,
 'EX_cu2_m': 999999.0,
 'EX_zn2_m': 999999.0,
 'EX_cobalt2_m': 999999.0,
 'EX_mobd_m': 999999.0,
 'EX_ni2_m': 999999.0,
 'EX_photon410_m': 1000.0,
 'EX_photon430_m': 1000.0,
 'EX_photon450_m': 1000.0,
 'EX_photon470_m': 1000.0,
 'EX_photon490_m': 1000.0,
 'EX_photon510_m': 1000.0,
 'EX_photon530_m': 1000.0,
 'EX_photon550_m': 1000.0,
 'EX_photon570_m': 1000.0,
 'EX_photon590_m': 1000.0,
 'EX_photon610_m': 1000.0,
 'EX_photon630_m': 1000.0,
 'EX_photon650_m': 1000.0,
 'EX_photon670_m': 1000.0,
 'EX_photon690_m': 1000.0,
 'EX_sel_m': 999999.0,
 'EX_tungs_m': 999999.0,
 'EX_slnt_m': 999999.0}

## Optimize Model

In [10]:
result = com.optimize(fluxes=True, pfba=True)
result

### Update Medium

In [ ]:
# Restore medium to original
com.medium = medium_bkp

# Set variable to become new medium
medium_to_change = com.medium

#Add or subtract reactions
medium_to_change["EX_sucr_m"] = 5
medium_to_change["EX_glc__D_m"] = 5
medium_to_change["EX_leu__L_m"] = 0
#medium_to_change["EX_glyc__R_m"] = 0
medium_to_change["EX_nh4_m"] = 0
medium_to_change["EX_no3_m"] = 0
medium_to_change["EX_n2_m"] = 5


# Set the new medium as the model's medium
com.medium = medium_to_change
com.medium

In [ ]:
result_altered_medium = com.optimize(fluxes=True, pfba=True)

In [ ]:
result_altered_medium

In [ ]:
result_altered_medium.fluxes